create database QLST1
use QLST1
go
create table NhaCungCap(
	MaNCC char(10) PRIMARY KEY,
	TenNCC nvarchar(50),
	DiaChi nvarchar(50),
	sdt char(15)
)
go
create table NhanVien(
	MaNV char(10) PRIMARY KEY,
	HoTen nvarchar(50),
	DiaChi nvarchar(50),
	NgaySinh datetime,
	SDT char(15)
)
go
create table PhieuNhap(
	SoPhieu char(10) PRIMARY KEY,
	MaNCC char(10),
	NgayNhap datetime,
	MaNV char(10),
	CONSTRAINT MaNCC FOREIGN KEY(MaNCC) REFERENCES NhaCungCap(MaNCC),
	CONSTRAINT MaNV FOREIGN KEY(MaNV) REFERENCES NhanVien(MaNV),
)
go
create table HangHoa(
	MaHang char(10) PRIMARY KEY,
	TenHang nvarchar(50),
	HinhThucDongGoi nvarchar(50),
	SoLuongTon int,
	LoaiHang NVARCHAR(50)
)
go
create table PhieuNhap_HangHoa(
    MaPN_HH CHAR(10) PRIMARY KEY,
	SoPhieu char(10),
	MaHang char(10),
	SoLuongNhap int,
	DonGiaNhap decimal,
	CONSTRAINT SoPhieu FOREIGN KEY(SoPhieu) REFERENCES PhieuNhap(SoPhieu),
	CONSTRAINT MaHang FOREIGN KEY(MaHang) REFERENCES HangHoa(MaHang)
)
go
create table KhachHang(
	MaKH char(10) PRIMARY KEY,
	HoTen nvarchar(50),
	DiaChi nvarchar(50),
	sdt char(15),
	NgaySinh datetime
)
go
create table HoaDonTT(
	MaHD char(10) PRIMARY KEY,
	MaKH char(10),
	NgayLap datetime,
	DonGiaBan decimal,
	SoLuongBan int,
	NhanVienBan char(10),
	CONSTRAINT MaKH FOREIGN KEY(MaKH) REFERENCES KhachHang(MaKH),
	CONSTRAINT NhanVienBan FOREIGN KEY(NhanVienBan) REFERENCES NhanVien(MaNV)
)
go
create table HD_HH(
	MaHD_HH CHAR(10) PRIMARY KEY,
	MaHD char(10),
	MaHang char(10),
	CONSTRAINT MaHD FOREIGN KEY(MaHD) REFERENCES HoaDonTT(MaHD),
	CONSTRAINT MaHangHoa FOREIGN KEY(MaHang) REFERENCES HangHoa(MaHang)
)
go
insert into NhaCungCap
values
('C01',N'unilever',N'Hà Nội','0167358942'),
('C02',N'Hồng Hà',N'Hà Nội','0964852731'),
('C03',N'Nestle',N'Đà Nẵng','01652036762'),
('C04',N'NXB Giáo Dục',N'Hà Nội','0166854952'),
('C05',N'Kinh Đô',N'Bắc Ninh','0944325621'),
('C06',N'Hữu Nghị',N'Hưng Yên','0975284621'),
('C07',N'CTCP nước giải khát Hà Nội',N'Hà Nội','0182564328'),
('C08',N'Song Long',N'Thái Nguyên','0167964942'),
('C09',N'CTCP Sách Việt',N'TP Hồ Chí Minh','0175894665');
go
insert into PhieuNhap
values
('SP01','C03','12/15/2012','N0007'),
('SP02','C01','01/06/2013','N0009'),
('SP03','C02','02/17/2013','N0007'),
('SP04','C04','12/21/2012','N0008'),
('SP05','C05','06/15/2014','N0009'),
('SP06','C06','12/07/2014','N0008'),
('SP07','C07','03/19/2015','N0007'),
('SP08','C08','06/08/2016','N0009'),
('SP09','C09','03/15/2018','N0008');
go
insert into PhieuNhap_HangHoa
values
('MPNHH01','SP01','H004',1200,'73900000'),
('MPNHH02','SP01','H013',200,'6500000'),
('MPNHH03','SP02','H006',1000,'10000000'),
('MPNHH04','SP03','H008',800,'3200000'),
('MPNHH05','SP04','H007',650,'1950000'),
('MPNHH06','SP05','H010',600,'540000000'),
('MPNHH07','SP05','H002',600,'540000000'),
('MPNHH08','SP06','H001',1000,'25600000'),
('MPNHH09','SP06','H011',400,'8000000'),
('MPNHH10','SP06','H012',1000,'230000000'),
('MPNHH11','SP07','H005',200,'40000000'),
('MPNHH12','SP08','H009',400,'8000000'),
('MPNHH13','SP09','H003',1000,'6000000');
go
insert into HD_HH
values
('MHDHH01','HD0001','H011'),
('MHDHH02','HD0002','H001'),
('MHDHH03','HD0003','H010'),
('MHDHH04','HD0004','H009'),
('MHDHH05','HD0005','H002'),
('MHDHH06','HD0006','H004'),
('MHDHH07','HD0007','H006'),
('MHDHH08','HD0008','H003'),
('MHDHH09','HD0009','H008'),
('MHDHH10','HD0010','H005'),
('MHDHH11','HD0011','H007');

-test